#lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
}

#content-box {
    height: 30%;
    width: 30%;
    background-color: lightgrey;
    overflow: hidden;
}

#lightbox:target {
    height: 100%;
    width: 100%;
}
