/*-----header-----*/
#main-header {
    height: 400px;
}

#about-site {
    color: grey;
}



/*-----main-----*/
h1 {
    font-size: 40px;
    color: darkslategrey;
    font-family: sans-serif;
}
h4{
    font-family: monospace;
    font-size:1.33rem;
}
p {
    color: dimgrey;
}

#blog-content {
    width: 1000px;
}

.h-style {
    color: darkslategrey;
}
